@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Muli:wght@300;400;600;700&display=swap');

body {
  background-color: #FFFFFF;
}

/* Apply scaling effect only to buttons with class .btn */
.btn {
  transition: transform 0.2s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}
